USE master;
GO

-- 1. Xoa database cu neu da ton tai mot cach an toan
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'ELearningDB')
BEGIN
    ALTER DATABASE ELearningDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE ELearningDB;
END
GO

-- 2. Tao database moi tu dong (khong chi dinh cung duong dan vat ly o C)
CREATE DATABASE ELearningDB
COLLATE Vietnamese_CI_AS;
GO

USE ELearningDB;
GO

/****** Object:  Table [dbo].[Enrollments]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[PaymentId] [uniqueidentifier] NULL,
	[AccessType] [tinyint] NOT NULL,
	[EnrolledAt] [datetime2](0) NOT NULL,
	[CompletedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonProgress]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonProgress](
	[Id] [uniqueidentifier] NOT NULL,
	[EnrollmentId] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[LastPositionSec] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_LessonProgress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[ContentType] [tinyint] NOT NULL,
	[ContentUrl] [nvarchar](500) NULL,
	[TextContent] [nvarchar](max) NULL,
	[DurationSeconds] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[IsPreview] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EnrollmentProgress]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  VIEWS TIỆN ÍCH
-- ============================================================

-- V1: Tiến độ tổng hợp mỗi enrollment
CREATE VIEW [dbo].[vw_EnrollmentProgress] AS
SELECT
    e.Id            AS EnrollmentId,
    e.UserId,
    e.CourseId,
    COUNT(l.Id)     AS TotalLessons,
    SUM(CASE WHEN lp.IsCompleted = 1 THEN 1 ELSE 0 END) AS CompletedLessons,
    CASE
        WHEN COUNT(l.Id) = 0 THEN 0
        ELSE CAST(SUM(CASE WHEN lp.IsCompleted = 1 THEN 1 ELSE 0 END) * 100.0
                  / COUNT(l.Id) AS DECIMAL(5,2))
    END             AS ProgressPercent
FROM Enrollments e
JOIN Lessons l ON l.CourseId = e.CourseId
LEFT JOIN LessonProgress lp
    ON lp.EnrollmentId = e.Id AND lp.LessonId = l.Id
GROUP BY e.Id, e.UserId, e.CourseId;
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Deadline] [datetime2](0) NULL,
	[MaxAttempts] [int] NOT NULL,
	[PassingScore] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [uniqueidentifier] NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Answers] [nvarchar](max) NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[IsPassed] [bit] NULL,
	[AttemptNumber] [int] NOT NULL,
	[SubmittedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[OAuthProvider] [nvarchar](50) NULL,
	[OAuthId] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AssignmentScoreBoard]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- V2: Bảng điểm học sinh theo bài tập
CREATE VIEW [dbo].[vw_AssignmentScoreBoard] AS
SELECT
    s.AssignmentId,
    a.Title         AS AssignmentTitle,
    s.UserId,
    u.FullName,
    u.Email,
    s.Score,
    s.IsPassed,
    s.AttemptNumber,
    s.SubmittedAt
FROM Submissions s
JOIN Users       u ON u.Id = s.UserId
JOIN Assignments a ON a.Id = s.AssignmentId;
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[VerifyCode] [nvarchar](100) NOT NULL,
	[IssuedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Certificates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Upvotes] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](12, 2) NOT NULL,
	[MaxUses] [int] NOT NULL,
	[UsedCount] [int] NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Level] [tinyint] NOT NULL,
	[CourseType] [tinyint] NOT NULL,
	[BasePrice] [decimal](12, 0) NOT NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[TrailerUrl] [nvarchar](500) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailVerificationTokens]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailVerificationTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](512) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[UsedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_EmailVerificationTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationPreferences]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationPreferences](
	[UserId] [uniqueidentifier] NOT NULL,
	[NewAssignment] [bit] NOT NULL,
	[DeadlineReminder] [bit] NOT NULL,
	[CommentReply] [bit] NOT NULL,
	[CourseComplete] [bit] NOT NULL,
	[EmailEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_NotifPrefs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[NotifType] [tinyint] NOT NULL,
	[RelatedId] [uniqueidentifier] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](512) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[UsedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[CouponId] [uniqueidentifier] NULL,
	[OriginalPrice] [decimal](12, 0) NOT NULL,
	[DiscountAmount] [decimal](12, 0) NOT NULL,
	[FinalPrice] [decimal](12, 0) NOT NULL,
	[Currency] [nchar](3) NOT NULL,
	[Method] [tinyint] NOT NULL,
	[TransactionRef] [nvarchar](255) NULL,
	[Status] [tinyint] NOT NULL,
	[GatewayResponse] [nvarchar](max) NULL,
	[PaidAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [uniqueidentifier] NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
	[QuestionType] [tinyint] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Options] [nvarchar](max) NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[Points] [decimal](5, 2) NOT NULL,
	[OrderIndex] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Assignments] ([Id], [CourseId], [LessonId], [Title], [Description], [Deadline], [MaxAttempts], [PassingScore], [CreatedAt], [UpdatedAt]) VALUES (N'1b5af484-aa05-4148-a69b-6005c01b8996', N'34085ad3-2399-4868-a7ca-6cca8bf7290b', NULL, N'Bài Test Thử IELTS Listening', N'Bài kiểm tra 2 câu mô phỏng dạng điền từ và chọn đáp án trong IELTS Listening.', CAST(N'2025-12-31T23:59:59.0000000' AS DateTime2), 2, CAST(50.00 AS Decimal(5, 2)), CAST(N'2025-01-13T10:00:00.0000000' AS DateTime2), CAST(N'2025-01-13T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Assignments] ([Id], [CourseId], [LessonId], [Title], [Description], [Deadline], [MaxAttempts], [PassingScore], [CreatedAt], [UpdatedAt]) VALUES (N'293afa8c-471a-4ecd-a141-64c878afeb17', N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', N'f421f0ee-da73-4803-9ff7-ee2a5d88e614', N'Kiểm Tra Bài 3 – Phỏng Vấn Xin Việc', N'4 câu trắc nghiệm kiểm tra từ vựng và cấu trúc câu dùng trong phỏng vấn tiếng Anh.', CAST(N'2025-12-31T23:59:59.0000000' AS DateTime2), 3, CAST(75.00 AS Decimal(5, 2)), CAST(N'2025-01-09T08:00:00.0000000' AS DateTime2), CAST(N'2025-01-09T08:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Certificates] ([Id], [UserId], [CourseId], [VerifyCode], [IssuedAt]) VALUES (N'e744bf12-30b6-460d-8a88-2f55b7bf9422', N'0da0db47-3ac5-4fee-b8be-9552a3009adf', N'34085ad3-2399-4868-a7ca-6cca8bf7290b', N'ENG-IEL-MAI-2025-E5F6G7H8', CAST(N'2025-03-10T19:01:00.0000000' AS DateTime2))
INSERT [dbo].[Certificates] ([Id], [UserId], [CourseId], [VerifyCode], [IssuedAt]) VALUES (N'd994016e-bb50-43ed-922d-80f2870537be', N'feaf5955-68b5-44c8-baae-8ecca0bea520', N'c28bba8b-b4d7-4c49-b71b-8ddae8adfaa2', N'ENG-GRM-TUA-2025-I9J0K1L2', CAST(N'2025-04-01T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Certificates] ([Id], [UserId], [CourseId], [VerifyCode], [IssuedAt]) VALUES (N'27908593-fdc1-487a-adc6-aa3e0f26fa84', N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', N'ENG-SPK-LAN-2025-A1B2C3D4', CAST(N'2025-02-28T21:01:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Comments] ([Id], [LessonId], [UserId], [ParentId], [Content], [Upvotes], [CreatedAt], [UpdatedAt]) VALUES (N'1852065b-8a0f-436b-92ed-44b045346c52', N'd287884e-5d2b-42d1-8acf-e8e15876d337', N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', NULL, N'Bài này có nhắc đến phrase "That''s interesting!" khi phản hồi Small Talk. Mình có thể dùng "That''s fascinating!" thay thế được không ạ? Nghe có vẻ lịch sự hơn?', 5, CAST(N'2025-01-28T10:00:00.0000000' AS DateTime2), CAST(N'2025-01-28T10:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MaxUses], [UsedCount], [ExpiresAt], [CreatedBy], [CreatedAt]) VALUES (N'0f354e25-ad46-4749-9eac-0f9824611d4f', N'ENGLISH20', 0, CAST(20.00 AS Decimal(12, 2)), 200, 4, CAST(N'2025-12-31T23:59:59.0000000' AS DateTime2), N'd94b88b6-55e0-4f79-b27a-a9794e1635ca', CAST(N'2025-01-05T07:30:00.0000000' AS DateTime2))
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountType], [DiscountValue], [MaxUses], [UsedCount], [ExpiresAt], [CreatedBy], [CreatedAt]) VALUES (N'2578ac6f-e316-47cf-8868-d4e37298f32e', N'CHAO2025', 1, CAST(100000.00 AS Decimal(12, 2)), 100, 2, CAST(N'2025-06-30T23:59:59.0000000' AS DateTime2), N'd94b88b6-55e0-4f79-b27a-a9794e1635ca', CAST(N'2025-01-05T07:35:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [PaymentId], [AccessType], [EnrolledAt], [CompletedAt]) VALUES (N'462aca52-da95-43db-a276-1348801851ba', N'feaf5955-68b5-44c8-baae-8ecca0bea520', N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', N'ff538700-7a19-439d-b196-bf3a13f93773', 1, CAST(N'2025-01-25T10:06:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [PaymentId], [AccessType], [EnrolledAt], [CompletedAt]) VALUES (N'0064068d-b97b-40ac-9be5-55df4bd47c2d', N'59d95c68-25eb-4eb2-91d9-17c8d291840d', N'c28bba8b-b4d7-4c49-b71b-8ddae8adfaa2', N'0cff049e-a06e-4928-9498-394b6d852c29', 1, CAST(N'2025-02-03T16:13:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [PaymentId], [AccessType], [EnrolledAt], [CompletedAt]) VALUES (N'c9b5c797-1310-4a83-8d7b-8f4acaedd3d2', N'e92bcda2-d3f7-40fd-88b1-89a20f5d5a8a', N'34085ad3-2399-4868-a7ca-6cca8bf7290b', NULL, 0, CAST(N'2025-02-13T10:00:00.0000000' AS DateTime2), NULL)
GO
INSERT [dbo].[LessonProgress] ([Id], [EnrollmentId], [LessonId], [IsCompleted], [LastPositionSec], [UpdatedAt]) VALUES (N'5f6e21dd-4a2e-4d8b-9517-21fd0928995c', N'50be04cd-99dd-401b-9291-a5de30e2da37', N'c6329ff9-00c0-4d3b-b682-d8a625b9500a', 1, 1860, CAST(N'2025-03-10T18:50:00.0000000' AS DateTime2))
INSERT [dbo].[LessonProgress] ([Id], [EnrollmentId], [LessonId], [IsCompleted], [LastPositionSec], [UpdatedAt]) VALUES (N'43cc2185-79de-44fe-a66f-394975141bc3', N'fae864a7-fa7a-472f-84d3-99cae8fe49e2', N'd287884e-5d2b-42d1-8acf-e8e15876d337', 1, 1680, CAST(N'2025-02-15T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[LessonProgress] ([Id], [EnrollmentId], [LessonId], [IsCompleted], [LastPositionSec], [UpdatedAt]) VALUES (N'df73f7f6-f9fe-4c1a-b964-3f56f9463f53', N'0064068d-b97b-40ac-9be5-55df4bd47c2d', N'd7f67ec1-f2be-4b20-b3cd-41630f0789ef', 0, 900, CAST(N'2025-02-05T11:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [ContentType], [ContentUrl], [TextContent], [DurationSeconds], [OrderIndex], [IsPreview], [CreatedAt], [UpdatedAt]) VALUES (N'b6a152d5-62df-41ac-bc7b-351686de5a02', N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', N'Bài 1 – Tự giới thiệu bản thân (Self-introduction)', 0, N'https://cdn.engmaster.vn/videos/speaking-01.mp4', NULL, 1320, 1, 1, CAST(N'2025-01-08T08:10:00.0000000' AS DateTime2), CAST(N'2025-01-08T08:10:00.0000000' AS DateTime2))
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [ContentType], [ContentUrl], [TextContent], [DurationSeconds], [OrderIndex], [IsPreview], [CreatedAt], [UpdatedAt]) VALUES (N'd7f67ec1-f2be-4b20-b3cd-41630f0789ef', N'c28bba8b-b4d7-4c49-b71b-8ddae8adfaa2', N'Bài 1 – 12 Thì trong Tiếng Anh: Tổng quan và cách dùng', 0, N'https://cdn.engmaster.vn/videos/grammar-01.mp4', NULL, 1800, 1, 1, CAST(N'2025-01-10T09:10:00.0000000' AS DateTime2), CAST(N'2025-01-10T09:10:00.0000000' AS DateTime2))
INSERT [dbo].[Lessons] ([Id], [CourseId], [Title], [ContentType], [ContentUrl], [TextContent], [DurationSeconds], [OrderIndex], [IsPreview], [CreatedAt], [UpdatedAt]) VALUES (N'9c050c98-d699-4d65-b28a-484fc16d9ac0', N'c28bba8b-b4d7-4c49-b71b-8ddae8adfaa2', N'Bài 2 – Câu Điều Kiện (Conditional Sentences) loại 0, 1, 2, 3', 0, N'https://cdn.engmaster.vn/videos/grammar-02.mp4', NULL, 2100, 2, 0, CAST(N'2025-01-10T09:20:00.0000000' AS DateTime2), CAST(N'2025-01-10T09:20:00.0000000' AS DateTime2))
GO
INSERT [dbo].[NotificationPreferences] ([UserId], [NewAssignment], [DeadlineReminder], [CommentReply], [CourseComplete], [EmailEnabled]) VALUES (N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', 1, 1, 1, 1, 1)
INSERT [dbo].[NotificationPreferences] ([UserId], [NewAssignment], [DeadlineReminder], [CommentReply], [CourseComplete], [EmailEnabled]) VALUES (N'59d95c68-25eb-4eb2-91d9-17c8d291840d', 1, 0, 1, 1, 1)
INSERT [dbo].[NotificationPreferences] ([UserId], [NewAssignment], [DeadlineReminder], [CommentReply], [CourseComplete], [EmailEnabled]) VALUES (N'e92bcda2-d3f7-40fd-88b1-89a20f5d5a8a', 1, 1, 0, 1, 0)
GO
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Body], [NotifType], [RelatedId], [IsRead], [CreatedAt]) VALUES (N'acd11e3c-5a5c-f111-b0d0-200b74809650', N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', N'Đăng ký khóa học thành công!', N'Bạn đã mở khóa "Tiếng Anh Giao Tiếp Thực Chiến". Bắt đầu học ngay hôm nay nhé!', 2, N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', 1, CAST(N'2025-01-22T14:33:00.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Body], [NotifType], [RelatedId], [IsRead], [CreatedAt]) VALUES (N'add11e3c-5a5c-f111-b0d0-200b74809650', N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', N'Chúc mừng! Bạn đã hoàn thành khóa học.', N'Chứng chỉ "Tiếng Anh Giao Tiếp Thực Chiến" đã được cấp. Chia sẻ thành tích lên LinkedIn nhé!', 4, N'30eaad5b-22b1-4a1f-9103-ac34a270cfdd', 1, CAST(N'2025-02-28T21:01:00.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Body], [NotifType], [RelatedId], [IsRead], [CreatedAt]) VALUES (N'aed11e3c-5a5c-f111-b0d0-200b74809650', N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', N'Lê Minh Tuấn đã trả lời bình luận của bạn', N'Reply trong bài "Small Talk: Chủ đề thời tiết, công việc, cuối tuần". Nhấn để xem.', 3, N'6dd736c7-f6fc-4b3f-9587-b5fc80bab7e1', 0, CAST(N'2025-01-28T11:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Questions] ([Id], [AssignmentId], [QuestionType], [Content], [Options], [CorrectAnswer], [Points], [OrderIndex]) VALUES (N'ea76744f-c199-4a43-8b3f-25150ca306a0', N'1b5af484-aa05-4148-a69b-6005c01b8996', 1, N'IELTS Listening có tổng cộng ___ phần (sections) và ___ câu hỏi. Điền số câu hỏi.', NULL, N'40', CAST(1.00 AS Decimal(5, 2)), 2)
GO
INSERT [dbo].[Submissions] ([Id], [AssignmentId], [UserId], [Answers], [Score], [IsPassed], [AttemptNumber], [SubmittedAt]) VALUES (N'c5d5ee9b-d369-4542-be36-3f7e9b87e325', N'293afa8c-471a-4ecd-a141-64c878afeb17', N'feaf5955-68b5-44c8-baae-8ecca0bea520', N'{"D0084123-8842-4992-8AB5-1ECD6582A8AE":"B","24B5E931-8C18-4E2B-9D57-E82DCEC3E46C":"A","9E0E06D7-AA26-4021-85A9-92B43E928383":"exciting","B10758D7-FACA-4785-92E9-DF6CB751E5D5":"A"}', CAST(50.00 AS Decimal(5, 2)), 0, 1, CAST(N'2025-02-10T14:00:00.0000000' AS DateTime2))
INSERT [dbo].[Submissions] ([Id], [AssignmentId], [UserId], [Answers], [Score], [IsPassed], [AttemptNumber], [SubmittedAt]) VALUES (N'5844776d-ebcd-4e93-9c96-7a77ba361723', N'1b5af484-aa05-4148-a69b-6005c01b8996', N'0da0db47-3ac5-4fee-b8be-9552a3009adf', N'{"0C4D896B-9CE8-4B27-8A16-3564CEB1D5DC":"B","EA76744F-C199-4A43-8B3F-25150CA306A0":"40"}', CAST(100.00 AS Decimal(5, 2)), 1, 1, CAST(N'2025-03-11T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Submissions] ([Id], [AssignmentId], [UserId], [Answers], [Score], [IsPassed], [AttemptNumber], [SubmittedAt]) VALUES (N'4506ea02-6b5c-4981-8a1c-b64f32fdde2d', N'293afa8c-471a-4ecd-a141-64c878afeb17', N'feaf5955-68b5-44c8-baae-8ecca0bea520', N'{"D0084123-8842-4992-8AB5-1ECD6582A8AE":"B","24B5E931-8C18-4E2B-9D57-E82DCEC3E46C":"A","9E0E06D7-AA26-4021-85A9-92B43E928383":"interested","B10758D7-FACA-4785-92E9-DF6CB751E5D5":"B"}', CAST(100.00 AS Decimal(5, 2)), 1, 2, CAST(N'2025-02-12T10:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [AvatarUrl], [Role], [Status], [EmailVerified], [OAuthProvider], [OAuthId], [CreatedAt], [UpdatedAt]) VALUES (N'b406cc81-3791-4ce5-8a6a-15e5cb5f5208', N'Trần Thị Lan', N'lan.tran@gmail.com', N'$2b$10$zZCa9ABMKxh.MqbU0GSAkOrc3VLbvTqMyNT2/fVK8tGeyNzCAXA4K', NULL, 1, 1, 1, NULL, NULL, CAST(N'2025-01-20T08:00:00.0000000' AS DateTime2), CAST(N'2025-01-20T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [AvatarUrl], [Role], [Status], [EmailVerified], [OAuthProvider], [OAuthId], [CreatedAt], [UpdatedAt]) VALUES (N'59d95c68-25eb-4eb2-91d9-17c8d291840d', N'Phạm Thu Hương', N'huong.pham@yahoo.com', N'$2b$10$mP7N7cs3LzDnHknifnxuKOfHGOgtKjHRMtUHawNzi72T588aOWgHq', NULL, 1, 1, 0, NULL, NULL, CAST(N'2025-02-01T10:00:00.0000000' AS DateTime2), CAST(N'2025-02-01T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [AvatarUrl], [Role], [Status], [EmailVerified], [OAuthProvider], [OAuthId], [CreatedAt], [UpdatedAt]) VALUES (N'e92bcda2-d3f7-40fd-88b1-89a20f5d5a8a', N'Hoàng Đức Mạnh', N'manh.hoang@outlook.com', N'$2b$10$XbU021T/cLkOWeXzUYSdTuNWU6j5Eiu9PQB3n6G3GGL0oVoeY676S', NULL, 1, 1, 1, NULL, NULL, CAST(N'2025-02-10T08:00:00.0000000' AS DateTime2), CAST(N'2025-02-10T08:00:00.0000000' AS DateTime2))
GO
/****** Object:  Index [IX_Assignments_CourseId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_CourseId] ON [dbo].[Assignments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Certificates_User_Course]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[Certificates] ADD  CONSTRAINT [UQ_Certificates_User_Course] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Certificates_VerifyCode]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[Certificates] ADD  CONSTRAINT [UQ_Certificates_VerifyCode] UNIQUE NONCLUSTERED 
(
	[VerifyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_LessonId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_LessonId] ON [dbo].[Comments]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_ParentId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_ParentId] ON [dbo].[Comments]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Coupons_Code]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [UQ_Coupons_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_CourseType]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_CourseType] ON [dbo].[Courses]
(
	[CourseType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_Level]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_Level] ON [dbo].[Courses]
(
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_Status]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_Status] ON [dbo].[Courses]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollments_User_Course]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [UQ_Enrollments_User_Course] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_CourseId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_CourseId] ON [dbo].[Enrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_UserId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_UserId] ON [dbo].[Enrollments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LessonProgress_Enrollment_Lesson]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[LessonProgress] ADD  CONSTRAINT [UQ_LessonProgress_Enrollment_Lesson] UNIQUE NONCLUSTERED 
(
	[EnrollmentId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonProgress_EnrollmentId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LessonProgress_EnrollmentId] ON [dbo].[LessonProgress]
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_CourseId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_CourseId] ON [dbo].[Lessons]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_OrderIndex]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_OrderIndex] ON [dbo].[Lessons]
(
	[CourseId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CourseId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CourseId] ON [dbo].[Payments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_UserId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_UserId] ON [dbo].[Payments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_AssignmentId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_AssignmentId] ON [dbo].[Questions]
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submissions_AssignmentId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Submissions_AssignmentId] ON [dbo].[Submissions]
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submissions_UserId]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Submissions_UserId] ON [dbo].[Submissions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 31-May-26 03:19:11 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Status]    Script Date: 31-May-26 03:19:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Status] ON [dbo].[Users]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1)) FOR [MaxAttempts]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((50.00)) FOR [PassingScore]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (sysutcdatetime()) FOR [IssuedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [Upvotes]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [MaxUses]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [CourseType]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EmailVerificationTokens] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [AccessType]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (sysutcdatetime()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT ((0)) FOR [LastPositionSec]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [DurationSeconds]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [IsPreview]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[NotificationPreferences] ADD  DEFAULT ((1)) FOR [NewAssignment]
GO
ALTER TABLE [dbo].[NotificationPreferences] ADD  DEFAULT ((1)) FOR [DeadlineReminder]
GO
ALTER TABLE [dbo].[NotificationPreferences] ADD  DEFAULT ((1)) FOR [CommentReply]
GO
ALTER TABLE [dbo].[NotificationPreferences] ADD  DEFAULT ((1)) FOR [CourseComplete]
GO
ALTER TABLE [dbo].[NotificationPreferences] ADD  DEFAULT ((1)) FOR [EmailEnabled]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1.00)) FOR [Points]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (sysutcdatetime()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Courses]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Lessons]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_Courses]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_Users]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lessons]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Parent]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [FK_Coupons_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [FK_Coupons_Users]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Users]
GO
ALTER TABLE [dbo].[EmailVerificationTokens]  WITH CHECK ADD  CONSTRAINT [FK_EVT_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailVerificationTokens] CHECK CONSTRAINT [FK_EVT_Users]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Payments] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Payments]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users]
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_LP_Enrollments] FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonProgress] CHECK CONSTRAINT [FK_LP_Enrollments]
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_LP_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[LessonProgress] CHECK CONSTRAINT [FK_LP_Lessons]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses]
GO
ALTER TABLE [dbo].[NotificationPreferences]  WITH CHECK ADD  CONSTRAINT [FK_NotifPrefs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationPreferences] CHECK CONSTRAINT [FK_NotifPrefs_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PRT_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PRT_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Coupons] FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Coupons]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Courses]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Assignments] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Assignments]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Assignments] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Assignments]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Users]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountType] CHECK  (([DiscountType]=(1) OR [DiscountType]=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountType]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountValue] CHECK  (([DiscountValue]>(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountValue]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_CourseType] CHECK  (([CourseType]=(1) OR [CourseType]=(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_CourseType]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_Level] CHECK  (([Level]=(2) OR [Level]=(1) OR [Level]=(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_Level]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_Status]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [CK_Enrollments_AccessType] CHECK  (([AccessType]=(1) OR [AccessType]=(0)))
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [CK_Enrollments_AccessType]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [CK_Lessons_ContentType] CHECK  (([ContentType]=(3) OR [ContentType]=(2) OR [ContentType]=(1) OR [ContentType]=(0)))
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [CK_Lessons_ContentType]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Type] CHECK  (([NotifType]=(5) OR [NotifType]=(4) OR [NotifType]=(3) OR [NotifType]=(2) OR [NotifType]=(1) OR [NotifType]=(0)))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Type]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([Method]=(3) OR [Method]=(2) OR [Method]=(1) OR [Method]=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_Type] CHECK  (([QuestionType]=(2) OR [QuestionType]=(1) OR [QuestionType]=(0)))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=(2) OR [Role]=(1) OR [Role]=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActivateEnrollment]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  STORED PROCEDURES CHÍNH
-- ============================================================

-- SP1: Tự động tạo Enrollment sau khi Payment thành công
CREATE   PROCEDURE [dbo].[sp_ActivateEnrollment]
    @PaymentId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @UserId   UNIQUEIDENTIFIER,
            @CourseId UNIQUEIDENTIFIER,
            @Status   TINYINT;

    SELECT @UserId   = UserId,
           @CourseId = CourseId,
           @Status   = Status
    FROM Payments WHERE Id = @PaymentId;

    IF @Status <> 1  -- Chỉ kích hoạt khi Success
        RETURN;

    IF NOT EXISTS (SELECT 1 FROM Enrollments WHERE UserId = @UserId AND CourseId = @CourseId)
    BEGIN
        INSERT INTO Enrollments (UserId, CourseId, PaymentId, AccessType)
        VALUES (@UserId, @CourseId, @PaymentId, 1);

        -- Thông báo đăng ký thành công
        INSERT INTO Notifications (UserId, Title, Body, NotifType, RelatedId)
        VALUES (@UserId,
                N'Đăng ký khóa học thành công!',
                N'Bạn đã được cấp quyền truy cập khóa học. Bắt đầu học ngay nhé!',
                2, @CourseId);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IssueCertificateIfComplete]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP2: Cấp chứng chỉ khi hoàn thành 100%
CREATE   PROCEDURE [dbo].[sp_IssueCertificateIfComplete]
    @EnrollmentId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @UserId         UNIQUEIDENTIFIER,
            @CourseId       UNIQUEIDENTIFIER,
            @TotalLessons   INT,
            @CompletedCount INT;

    SELECT @UserId   = UserId,
           @CourseId = CourseId
    FROM Enrollments WHERE Id = @EnrollmentId;

    SELECT @TotalLessons   = TotalLessons,
           @CompletedCount = CompletedLessons
    FROM vw_EnrollmentProgress WHERE EnrollmentId = @EnrollmentId;

    IF @TotalLessons > 0 AND @TotalLessons = @CompletedCount
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Certificates WHERE UserId = @UserId AND CourseId = @CourseId)
        BEGIN
            DECLARE @Code NVARCHAR(100) = UPPER(LEFT(REPLACE(CAST(NEWID() AS NVARCHAR(36)),'-',''), 16));

            INSERT INTO Certificates (UserId, CourseId, VerifyCode)
            VALUES (@UserId, @CourseId, @Code);

            -- Cập nhật CompletedAt trên Enrollment
            UPDATE Enrollments SET CompletedAt = SYSUTCDATETIME()
            WHERE Id = @EnrollmentId;

            -- Thông báo hoàn thành
            INSERT INTO Notifications (UserId, Title, Body, NotifType, RelatedId)
            VALUES (@UserId,
                    N'Chúc mừng! Bạn đã hoàn thành khóa học.',
                    N'Chứng chỉ của bạn đã được cấp. Hãy tải về và chia sẻ thành tích!',
                    4, @CourseId);
        END
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SendDeadlineReminders]    Script Date: 31-May-26 03:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP3: Nhắc deadline bài tập (chạy bằng SQL Agent Job mỗi giờ)
CREATE   PROCEDURE [dbo].[sp_SendDeadlineReminders]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Notifications (UserId, Title, Body, NotifType, RelatedId)
    SELECT DISTINCT
        e.UserId,
        N'Nhắc nhở: Bài tập sắp đến hạn',
        CONCAT(N'Bài tập "', a.Title, N'" sẽ hết hạn trong vòng 24 giờ.'),
        1,
        a.Id
    FROM Assignments a
    JOIN Enrollments e ON e.CourseId = a.CourseId
    WHERE a.Deadline IS NOT NULL
      AND a.Deadline BETWEEN SYSUTCDATETIME() AND DATEADD(HOUR, 24, SYSUTCDATETIME())
      -- Không gửi lại nếu đã gửi thông báo loại này hôm nay
      AND NOT EXISTS (
          SELECT 1 FROM Notifications n
          WHERE n.UserId    = e.UserId
            AND n.RelatedId = a.Id
            AND n.NotifType = 1
            AND n.CreatedAt >= CAST(GETUTCDATE() AS DATE)
      );
END;
GO
USE [master]
GO
